.tel {
  border-bottom: dashed 1px #5e74b7;
  width: 100%;
  color: #5e74b7;
}

.tel1 {
  border-bottom: dashed 1px #5e74b7;
  width: 230px;
  color: #5e74b7;
}

.tel2 {
  border-bottom: dashed 1px #5e74b7;
  width: 300px;
  color: #5e74b7;
}

.tel3 {
  border-bottom: dashed 1px #5e74b7;
  width: 303px;
  color: #5e74b7;
}

.tel4 {
  border-bottom: dashed 1px #5e74b7;
  width: 290px;
  color: #5e74b7;
}

.tel5 {
  border-bottom: dashed 1px #5e74b7;
  width: 130px;
  color: #5e74b7;
}
.tel6 {
  border-bottom: dashed 1px #5e74b7;
  width: 110px;
  color: #5e74b7;
}