

.doctors__box{
  display: flex;
  padding-top: 36px;
}
.doctors__button1{
  width: 104.7px;
  height: 28.81px;
  background-color: #5E74B7;
  transform: skew(-25deg);
  color: #FFF;
  font-family: Roboto;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  cursor: pointer;
}
.doctors__button1:hover{
  background-color: #465b9c;
}
.doctors__button2{
  width: 172.2px;
  height: 28.81px;
  background-color: #5BBDBE;
  transform: skew(-25deg);
  color: #FFF;
  font-family: Roboto;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;

}
.card__block{
  //width: 764px;
  height: 330px;
}
