.adf1{
  background-image: url("https://lorklinika1.ru/images/p593133.jpg");
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.text1{
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 175% */
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 5px;
}
.adf{
  background-image: url("https://lorklinika1.ru/images/p592846.jpg");
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.slide1{
  background-color: rgba(30, 94, 171, 0.50);
  height: 40px;
  width: 360px;
  margin-left: 30px;
}
.text12{
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 5px;
}
.slide2{
  background-color: rgba(237, 28, 36, 0.50);
  height: 60px;
  width: 880px;
  margin-left: 30px;
  margin-top: 20px;
}